{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.article_details'|trans({'%id%': article.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.article_details'|trans({'%id%': article.id|default('')}) }}</h1>

    {% if article is defined %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ article.id }}</dd>

            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ article.title }}</dd>

            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{ article.content }}</dd>

            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ article.createdAt|date('Y-m-d H:i') }}</dd>
        </dl>

        <p>
            <a href="{{ path('article_index') }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>

        <hr>

        <h2>{{ 'title.comments'|trans }}</h2>

        <p>
            <a href="{{ path('comment_create', {id: article.id}) }}"
               class="btn btn-primary">
                {{ 'action.add_comment'|trans }}
            </a>
        </p>

        {% if comments|length %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ 'label.nick'|trans }}</th>
                    <th>{{ 'label.content'|trans }}</th>
                    <th>{{ 'label.created_at'|trans }}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>{{ 'label.actions'|trans }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.nick }}</td>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i') : '' }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ path('comment_delete', {id: comment.id}) }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ 'message.no_comments'|trans }}</p>
        {% endif %}

    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}
